@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --this60: #12372A;
  --this30: #436850;
  --this10: #FBFADA;
  --thisFont: #ADBC9F;
  --thisreal30: #1e5e00;
}

.buttons,
.login-btn,
.signup-btn {
  color: var(--this10);
  border: none;
  padding: .5rem 1rem;
  border-radius: .3rem;
  text-align: center;
  background-color: var(--this30);
}


.buttons:hover,
.login-btn:hover,
.signup-btn:hover {
  background-color: var(--thisreal30);
  transition: all 300ms ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}




* {
  margin: 0;
  padding: 0;
  color: var(--this10);
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
}

.App {
  background-color: #12372A;
  overflow: hidden;
}


/* header */
header {
  padding: .5rem 3rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--this60);
}

.header-ul {
  display: flex;
  text-decoration: none;
  text-emphasis-style: none;
  text-decoration-style: none;
  list-style: none;
  gap: 1rem;
  display: flex;
  margin: 0;
  align-items: center;
}

.header-ul>li:hover {
  cursor: pointer;
}

/* home */

.home-content {
  display: flex;
  flex-direction: column;
}


main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 0;
}

.small {
  color: var(--thisFont);
}

.main-container {
  margin: 2rem 2rem 5rem 2rem;
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  position: relative;
  min-height: 50vh;
}

.Nomovie {
  position: absolute;
  right: 43%;
  top: 30%;
  /* background-color: blue; */
  font-size: 1.5rem;
}

.main-container-sim {
  margin: 1rem 2rem;
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}


.main-figure {
  background-color: var(--this30);
  border-radius: 0 0 1rem 1rem;
  padding: .5rem;
}


.main-img-container {
  overflow: hidden;
}


.main-img {
  transition: all 200ms ease-in;
  width: 100%;
}


.main-img:hover {
  opacity: .7;
  scale: 1.1;
  transition: all 200ms ease-in;
}


/* aside */
aside {
  background-color: var(--this60);
  color: black;
  padding: 5rem 0 0 2rem;
  min-width: 155px;
}

aside>ul {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

aside>ul>li {
  list-style: none;
  display: flex;
  gap: .5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

aside>ul>li:hover {
  cursor: pointer;
}

/* header2 */

.header2 {
  padding: 0 3rem;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--this60);
}



/* login */

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  flex-direction: column;
}

.login-content {
  display: flex;
  width: 70%;
  flex-direction: row-reverse;
  height: 55%;
  box-shadow: 5px 5px 20px black;
  border-bottom-left-radius: 5em;
  overflow: hidden;
  border-top-right-radius: 5em;

  /* transition: all 300ms ease-in; */
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 5em;
}

.login-form>h1 {
  text-align: center;
  font-size: 2rem;
}

.login-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
}

.login-inputs>input {
  width: 80%;
  background-color: var(--this30);
  border: none;
  color: var(--this10);
  padding: .3rem;
  border-radius: .2rem;
  outline: none;
}

.login-welcome {
  width: 100%;
  background-color: var(--thisreal30);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;

}

.login-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button>a {
  width: 80%;
  display: flex;
  justify-content: start;
}

.login-btn {
  border: none;
  width: 80%;
  color: var(--this10);
  background-color: var(--this30);
}


/* signup */

.signup-container {
  height: 100vh;
  gap: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.signup-content {
  display: flex;
  width: 70%;
  height: 55%;
  box-shadow: 5px 5px 20px black;
  border-bottom-left-radius: 5em;
  overflow: hidden;
  border-top-right-radius: 5em;

  /* transition: all 300ms ease-in; */
}

.signup-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-top-right-radius: 5em;
}

.signup-form>h1 {
  text-align: center;
  font-size: 2rem;
}

.signup-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 1rem 0;
}

.signup-inputs>input {
  width: 80%;
  background-color: var(--this30);
  border: none;
  color: var(--this10);
  padding: .3rem;
  border-radius: .2rem;
  outline: none;
}

.signup-welcome {
  width: 100%;
  background-color: var(--thisreal30);
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.signup-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-button>a {
  width: 80%;
  display: flex;
  justify-content: start;
}

.signup-btn {
  border: none;
  width: 80%;
  color: var(--this10);
  background-color: var(--this30);
}

/* footer */
footer {
  background-color: var(--this30);
  padding: 1rem;
}

.footer2 {
  position: absolute;
  bottom: 3%;
}

.one {
  background-color: #12372A;
}

.two {
  background-color: #436850;
}

.three {
  background-color: #ADBC9F;
}

.four {}

.s-movie-container {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
}

.genre-list {
  display: flex;
  gap: .5rem;
  align-items: center;
  flex-wrap: wrap;
}

.genre-fantasy {
  background-color: #8A2BE2;
  padding: 7px;
  border-radius: 2rem;
}

.genre-adventure {
  background-color: #228B22;
  padding: 7px;
  border-radius: 2rem;
}

.genre-action {
  background-color: #FF4500;
  padding: 7px;
  border-radius: 2rem;
}

.genre-comedy {
  background-color: #FFD700;
  padding: 7px;
  border-radius: 2rem;
}

.genre-family {
  background-color: #FF6F61;
  padding: 7px;
  border-radius: 2rem;
}

.genre-animation {
  background-color: #FFCC00;
  padding: 7px;
  border-radius: 2rem;
}

.genre-science {
  background-color: #00CED1;
  padding: 7px;
  border-radius: 2rem;
}

.s-movie {
  display: flex;
}

.s-movie-content-1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.s-movie-content-1-img-container {
  width: 500px;
  margin: 0 auto;
}

.s-movie-content-1-img {
  width: 100%;
  border-radius: .5rem;
}

.s-movie-content-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.s-movie-content-2>h1 {
  font-size: 4.5rem;
}

.s-movie-content-2-details {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-movie-content-2>.summary {
  /* margin: .5rem; */
}

.s-movie-umightlike {
  margin: 5rem 0 0 0;
}

/** search */
.search-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  background-color: var(--thisreal30);
  padding: 3rem 0;
}

.search-container>div>h1 {
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: .3rem;
  font-weight: bold;
  text-align: center;
}

.search-container>.search-container2 {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-container>.search-container2>svg {
  position: absolute;
  top: 2.3rem;
  z-index: 1;
  left: .9rem;
}

.search-container>.search-container2>.search {
  outline: none;
  border: none;
  background-color: var(--this30);
  width: 100%;
  padding: .5rem .5rem .5rem 3rem;
  border-radius: .5rem;
  position: absolute;
  top: 1.7rem;
}




/* 475 640 768 1024 1280 1536 */
@media(max-width: 473px) {
  .search-container>div>h1 {
    font-size: 1.5rem;
  }

  aside>ul {
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .header2>a>img {
    width: 70px !important;
  }

  .login-welcome {
    display: none;
  }

  .signup-welcome {
    display: none;
  }

  .s-movie-content-1-img-container {
    width: 300px;
  }


  .login-container {
    gap: 2rem;
  }

  .signup-container {
    gap: 2rem;
  }

  .s-movie-container {
    width: 80%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
  }

  .s-movie-content-2-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .s-movie-content-2>h1 {
    font-size: 1.5rem;
  }

  .s-movie {
    flex-direction: column;
  }
}

@media(min-width: 475px) {
  * {
    /* background-color: pink; */
  }

  .Nomovie {
    position: absolute;
    right: 26%;
    top: 30%;
    font-size: 1.5rem;
  }

  .s-movie-content-2>h1 {
    font-size: 2rem;
  }

  .s-movie {
    flex-direction: column;
  }

  .s-movie-content-1-img-container {
    width: 320px;
  }
}

@media(min-width: 640px) {
  * {
    /* background-color: red; */
  }



  .s-movie-content-1-img-container {
    width: 340px;
  }

  .s-movie {
    flex-direction: column;
  }

  .s-movie-content-2>h1 {
    font-size: 2.5rem;
  }

  .Nomovie {
    position: absolute;
    right: 29%;
    top: 30%;
    font-size: 1.5rem;
  }
}

@media(min-width: 768px) {
  * {
    /* background-color: blue; */
  }

  .s-movie {
    flex-direction: column;

  }

  .s-movie-content-1-img-container {
    width: 360px;
  }

  .s-movie-content-2>h1 {
    font-size: 3rem;
  }

  .Nomovie {
    position: absolute;
    right: 37%;
    top: 30%;
    font-size: 1.5rem;
  }



}

@media(max-width: 1023px) {
  .login-welcome {
    display: none;
  }

  .header2>a>img {
    width: 100px;
  }

  .header2 {
    padding: .5rem 3rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--this60);
  }

  .signup-welcome {
    display: none;
  }
}

@media(min-width: 1024px) {
  .header2 {
    position: absolute;
    top: .5rem;
    left: 0rem;
  }

  .s-movie {
    flex-direction: column;
  }

  .s-movie-content-1-img-container {
    width: 380px;
  }

  .s-movie-content-2>h1 {
    font-size: 3.5rem;
  }

  .Nomovie {
    right: 40.5%;
    top: 30%;
    font-size: 1.5rem;
  }

}

@media(min-width: 1280px) {
  .s-movie {
    flex-direction: row;
  }

  .s-movie-content-2>h1 {
    font-size: 4rem;
  }

  .Nomovie {
    right: 41%;
    top: 30%;
    font-size: 1.5rem;
  }

  .s-movie-content-1-img-container {
    width: 450px;
  }

}

@media(min-width: 1536px) {
  * {
    /* background-color: blue; */
  }

  .Nomovie {
    right: 44%;
    top: 30%;
    font-size: 1.5rem;
  }
}